<div class="fmod-docs-link-wrapper">

### `{{constructor_name}}({{#each constructor_parameters as |p|}}{{p.name}}{{#unless @last}}, {{/unless}}{{/each}}) constructor` :id={{constructor_name}}
{{#if constructor_fmod_docs_link}}<a class="fmod-docs-link" href="{{{constructor_fmod_docs_link}}}"><img src="/img/link.png" /> FMOD API</a>{{/if}}
</div>

{{#if constructor_parameters}}
| Parameter | Type | Description |
|:-|:-|:-|
{{#each constructor_parameters as |p|}}
| <pre>{{p.name}}{{#if p.default_value}} = {{p.default_value}}{{/if}}</pre> | <pre></pre>{{{p.type}}}</pre> | {{p.description}} |
{{/each}}
{{/if}}

{{#each constructor_methods as |m|}}

<br/>

<div class="fmod-docs-link-wrapper">

#### `.{{m.name}}({{#each m.parameters as |p|}}{{p.name}}{{#unless @last}}, {{/unless}}{{/each}})` :id={{m.name}}
{{#if m.fmod_docs_link}}<a class="fmod-docs-link" href="{{{m.fmod_docs_link}}}"><img src="/img/link.png" /> FMOD API</a>{{/if}}
</div>

{{#if m.parameters}}
| Parameter | Type | Description |
|:-|:-|:-|
{{#each m.parameters as |p|}}
| <pre>{{p.name}}{{#if p.default_value}} = {{p.default_value}}{{/if}}</pre> | <pre>{{{p.type}}}</pre> | {{p.description}} |
{{/each}}
{{/if}}

<pre>Returns: {{{m.return_type}}}</pre>

{{/each}}