<div class="fmod-docs-link-wrapper">

### `{{name}}({{#each parameters as |p|}}{{{p.type}}} {{p.name}}{{#unless @last}}, {{/unless}}{{/each}}) :id={{name}}`
{{#if fmod_docs_link}}<a class="fmod-docs-link" href="{{{fmod_docs_link}}}"><img src="/img/link.png" /> FMOD API</a>{{/if}}
</div>

{{#if parameters}}
| Parameter | Type | Description |
|:-|:-|:-|
{{#each parameters as |p|}}
| <pre>{{p.name}}{{#if p.default_value}} = {{p.default_value}}{{/if}}</pre> | <pre>{{{p.type}}}</pre> | {{p.description}} |
{{/each}}
{{/if}}

**Returns:** <pre>{{{return_type}}}</pre>